@model List<QRCode_RSA.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}
<div class="col-sm-6 col-xs-12 p-t-10 p-b-10 btn-add-mb">
    <button class="btn btn-success" id="btn-open-modal" onclick="showpopThem()"><i class="fa fa-plus"></i> Thêm mới</button>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            <b>DANH SÁCH NGƯỜI DÙNG</b>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-fixed table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <td align="left" class="title">
                                                STT
                                            </td>
                                            <td class="title">
                                                Họ tên
                                            </td>
                                            <td class="title">
                                                Ngày sinh
                                            </td>
                                            <td class="title">
                                                Quốc tịch
                                            </td>
                                            <td class="title">
                                                Nơi cư trú
                                            </td>
                                            <td class="title">
                                                Avatar
                                            </td>
                                            <td class="title">
                                                QR Image
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count > 0)
                                        {
                                            for (int i = 1; i <= Model.Count; i++)
                                            {
                                                <tr>
                                                    <td> @i</td>
                                                    <td> @Model[i - 1].HoTen</td>
                                                    <td> @(Model[i - 1].NgaySinh != null ? ((DateTime)Model[i - 1].NgaySinh).ToString("dd/MM/yyyy") : "")</td>
                                                    <td> @Model[i - 1].QuocGia</td>
                                                    <td> @Model[i - 1].NoiCuTru</td>
                                                    <td> @{
                                                        if (!string.IsNullOrEmpty(Model[i - 1].Avatar))
                                                        {
                                                            String.Format("data:image/gif;base64,{0}", Model[i - 1].Avatar);
                                                        }
                                                    }
                                                    </td>
                                                    <td> <button class="form-control btn-success" style="width:auto" onclick="TaoQR('@Model[i-1].Id')"><i class="fa fa-picture-o"></i> Tạo</button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade in" id="UserModal">
    <div class="modal-dialog">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <h4 id="titleModel">Thêm mới</h4>
                <button class="close " data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" id="formpost">
                    <input type="hidden" id="Id" name="Id" value="Id" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                   Họ Tên: <span class="text-danger" @*id="@Model.Id-Required"*@>*</span>
                                </label>

                                <input type="text" class="form-control" id="HoTen" value=""
                                       placeholder="Nhập họ và tên">
                                <p id="ErrorHoTen" class="text-danger m-b-0"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Ngày Sinh: <span class="text-danger" @*id="@Model.Id-Required"*@>*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" id="NgaySinh" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" @*id="@Model.Id-Calendar"*@><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <p id="ErrorNgaySinh" class="text-danger m-b-0"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Quốc Tịch: <span class="text-danger" @*id="@Model.Id-Required"*@>*</span>
                                </label>

                                <input type="text" class="form-control" id="QuocTich" value=""
                                       placeholder="Nhập quốc tịch">
                                <p id="ErrorQuocTich" class="text-danger m-b-0"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Nơi Cư Trú: <span class="text-danger" @*id="@Model.Id-Required"*@>*</span>
                                </label>

                                <input type="text" class="form-control" id="NoiCuTru" value=""
                                       placeholder="Nhập nơi cư trú">
                                <p id="ErrorNoiCuTru" class="text-danger m-b-0"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="clear:both;height:10px;"></div>
            <div class="modal-footer">
                <button id="btn-loading" type="button" class="btn btn-default invisible" data-dismiss="modal">
                    <img src="~/Content/img/loading.gif" height="25" />
                </button>
                <button class="btn btn-light" data-dismiss="modal"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" onclick="Post()" class="btn btn-success">
                    <span id="btn-add"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function TaoQR(id)
    {
        var fd = new FormData();
        fd.append("id", id);
        $.ajax({
            url: "/TaoMa/TaoQR",
            data: fd,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                if (data != null && data.isError == null)
                    base64toImage(data.Content, data.FileName);
                else
                    toastr.error(data.isError);
            },
            error: function () {
                toastr.error(translate("loi_xay_ra"));
                window.location.reload();
            }
        });
    }
    $(document).ready(function () {
        $("#NgaySinh").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
    });
</script>

