@model List<QRCode_RSA.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            <b>DANH SÁCH NGƯỜI DÙNG</b>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-fixed table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <td align="left" class="title">
                                                STT
                                            </td>
                                            <td class="title">
                                                Họ tên
                                            </td>
                                            <td class="title">
                                                Quốc tịch
                                            </td>
                                            <td class="title">
                                                Nơi cư trú
                                            </td>
                                            <td class="title">
                                                Avatar
                                            </td>
                                            <td class="title">
                                                QR Image
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count > 0)
                                        {
                                            for (int i = 1; i <= Model.Count; i++)
                                            {
                                                <tr>
                                                    <td> @i</td>
                                                    <td> @Model[i - 1].HoTen</td>
                                                    <td> @Model[i - 1].QuocGia</td>
                                                    <td> @Model[i - 1].NoiCuTru</td>
                                                    <td> @{
                                                        if (!string.IsNullOrEmpty(Model[i - 1].Avatar))
                                                        {
                                                            String.Format("data:image/gif;base64,{0}", Model[i - 1].Avatar);
                                                        }
                                                    }
                                                    </td>
                                                    <td> <button class="form-control btn-success" style="width:auto" onclick="TaoQR('@Model[i-1].HoTen')"><i class="fa fa-picture-o"></i> Tạo</button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    function TaoQR(data)
    {
        var fd = new FormData();
        fd.append("data", data);
        $.ajax({
            url: "/TaoMa/TaoQR",
            data: fd,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                base64toImage(data.Content, data.FileName);
            },
            error: function () {
                toastr.error(translate("loi_xay_ra"));
                window.location.reload();
            }
        });
    }
</script>

